/*Обнуление*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: "Roboto", sans-serif;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/*!/Обнуление*/

body {
	background-color: #f4f4f4;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 15px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 880px;
		margin: 0 auto;
		padding: 60px 15px;
	}
}

/* @media (max-width: 992px) {
	.container {
		max-width: 590px;
		margin: 0 auto;
		padding: 60px 15px;
	}
} */

.row {
	display: flex;
	justify-content: space-between;
}

.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 870px;
	margin-right: 30px;
}

/*Cards*/

.card-link {
	display: inline-block;
	transition: opacity, transform 0.2s ease-in;
}

.card-link:hover {
	opacity: 0.8;
	transform: translateY(-5px);
}

.card-link__hidden {
	display: none;
}

.card {
	/* flex: 1 1 auto; */
	position: relative;
	max-width: 270px;
	min-height: 335px;
	background-color: #fff;
	margin-bottom: 30px;
}

.card__badges {
	position: absolute;
	top: 10px;
	left: 15px;
	right: 15px;
	display: flex;
}

/* .card__badges > * + * {
	margin-left: 10px;
} */

.card__badges div:not(:last-child) {
	margin-right: 10px;
}

.card__badge {
	height: 23px;
	display: inline-block;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 4px;
}

.card__badge--class {
	color: #000000;
	background: #ffcf26;
	/* margin-right: 10px; */
}

.card__badge--credit {
	color: #ffffff;
	background: #11be75;
}

.card__img img {
	max-width: 100%;
	height: auto;
}

.card__content {
	padding: 15px 15px 20px 15px;
	color: #000000;
}

.card__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.14; /* 21px/18px=1.67*/
}

.card__term {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14; /* 16px/14px=1.14*/
}

.card__metro {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14; /* 16px/14px=1.14*/
}

.card__metro::before {
	content: "";
	display: inline-block;
	margin-right: 10px;
	vertical-align: baseline;
	width: 16px;
	height: 11px;
	background-image: url("../img/icons/metro.svg");
	background-repeat: no-repeat;
	background-size: initial;
}

.card__address {
	font-size: 14px;
	line-height: 1.14; /* 16px/14px=1.14*/
	color: #777777;
}

/*!/Cards*/

/*Button*/

.btn-more {
	width: 100%;
	height: 80px;
	background: #e5e5e5;
	border-radius: 4px;

	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #4290c9;

	transition: all 0.2s ease-in;

	cursor: pointer;
}

.btn-more:hover {
	opacity: 0.8;
	transform: translateY(-2px);
}

.btn-more img {
	margin-right: 10px;
	vertical-align: bottom;
}

/*!/Button*/

/*Sidebar*/

.sidebar {
	min-width: 250px;
	width: 270px;
}

.widget {
	margin-bottom: 32px;
}

.widget__title {
	position: relative;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;

	color: #000000;
	cursor: pointer;
}

.widget__title::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	/* background-color: red; */
	width: 20px;
	height: 20px;
	background: url("../img/icons/arrow.svg");
	background-repeat: no-repeat;
	background-size: initial;
	background-position: center;
}

.widget__title--active::after {
	transform: rotate(180deg);
}

.widget__body--hidden {
	display: none;
}

.location__row {
	display: flex;
	border: 1px solid #d6d6d6;
}

.location__row:first-child {
	border-radius: 4px 4px 0 0;
	border-bottom: none;
}

.location__row:last-child {
	border-radius: 0 0 4px 4px;
}

.location__btn {
	flex: 1 0 0%;
	height: 48px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	color: #3c3c3c;
}

.location__btn:hover {
	background-color: #f5cf4794;
	border: 1px solid #afafaf;
	border-radius: 4px;
	transition: all 0.2s ease-in;
}

.location__btn--active {
	background-color: #ffcf26;
}

.location__btn--active:hover {
	background-color: #fac507;
}

/* Radio */

.radio {
	display: block;
	cursor: pointer;
	margin-bottom: 33px; /*Выравнивание отдельного блока - перезаписывает отступы для группы блоков*/
}

.radio:not(:last-child) {
	margin-bottom: 15px;
}

.radio__real {
	/* *Скрываем реальную радиокнопку */
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.radio__fake {
	position: relative;
	display: inline-block;
	margin-right: 9px;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid #777777;
	border-radius: 50%;
	vertical-align: bottom;
}

.radio__real:checked + .radio__fake {
	background-color: #ffe074;
}

.radio__real:checked + .radio__fake::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #3c3c3c;
	transform: translate(-50%, -50%);
}

.radio__real:checked ~ .radio__title {
	font-weight: 500;
	font-size: 16px;
	color: #000000;
}

.radio__title {
	font-size: 16px;
	line-height: 1.18;
	color: #3c3c3c;
}

/* Checkbox */

.checkbox {
	display: block;
	cursor: pointer;
	/* margin-bottom: 20px; */
}

.checkbox:not(:last-child) {
	margin-bottom: 15px;
}

.checkbox__real {
	/* *Скрываем реальный чекбокс */
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.checkbox__fake {
	position: relative;
	display: inline-block;
	margin-right: 9px;
	width: 20px;
	height: 20px;
	border: 1px solid #777777;
	border-radius: 2px;
	background-color: transparent;
	vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
	background-color: #ffe074;
}

.checkbox__real:checked + .checkbox__fake::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;

	width: 18px;
	height: 18px;
	background-image: url("../img/icons/check.svg");
	transform: translate(-50%, -50%);
}

.checkbox__title {
	font-size: 16px;
	color: #3c3c3c;
}

.checkbox__real:checked ~ .checkbox__title {
	font-weight: 500;
}

/* Button show more */

.widget__hidden {
	display: none;
}

.widget__show-more {
	font-size: 16px;
	color: #4290c9;
	background-color: transparent;
	transition: transform 0.2s ease-in;
}
.widget__show-more:hover {
	color: #0181dd;
	transform: translateY(-1px);
	transition: transform 0.2s ease-in;
}

/* Services */

.toggle {
	cursor: pointer;
}

.toggle__real {
	/* *Скрываем реальный чекбокс */
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.toggle__fake {
	position: relative;
	display: inline-block;
	margin-right: 9px;

	width: 37px;
	height: 20px;

	background: #c4c4c4;
	border-radius: 10px;

	vertical-align: bottom;
}

.toggle__fake::before {
	position: absolute;
	content: "";
	width: 16px;
	height: 16px;
	top: 2px;
	left: 2px;
	background-color: #3c3c3c;
	border-radius: 50%;
	transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
	background-color: #ffe074;
}

.toggle__real:checked + .toggle__fake::before {
	left: 19px;
}

.toggle__title {
	font-size: 16px;
	color: #3c3c3c;
}

.toggle__real:checked ~ .toggle__title {
	font-weight: 500;
}

/* Form buttons submit/reset */

.form-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48px;

	border: 1px solid #d6d6d6;
	border-radius: 4px;
	background-color: transparent;

	font-size: 16px;
	/* line-height: 19px; */
	color: #000000;

	transition: all 0.2s ease-in;
}

.form-btn:hover {
	background-color: #e9e9e9;
}

.form-btn--submit {
	background-color: #ffcf26;
	border: none;
}

.form-btn--submit:hover {
	background-color: #fcc500;
}

.form-btn:not(:last-child) {
	margin-bottom: 11px;
}

.form-btn img {
	margin-right: 3px;
}